
.article-container{
    grid-column: 2/3;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 8px;
    margin: 20px;
    max-height:250px ;
    width: 90vw;
    border-radius: 5px;
    -webkit-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.62);
    -moz-box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.62);
    box-shadow: -1px 2px 5px -1px rgba(0,0,0,0.62);
}

.article-img{
    max-height:180px ;
    padding-right: 20px;
}
.read-more-wrapper{
    float: right;
    margin-bottom: 5px;
    margin-right: 5px;
}

.articles-title{
    display: flex;
    justify-content: center;
    justify-self: center;
}
.article-body{
    width:95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-family: Lato;
    word-spacing: 1px;
    line-height: 1.5;
    color: rgb(46, 45, 45);
}