@import '../Utilities.scss';
.project-viewer-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2% 96% 2%;
   padding-bottom: 30px;
  .project-viewer-title {
    @extend .page-default-title;
  }
}

.all-projects {
  @extend .flex-row-space-evenly;
  grid-column: 2/3;
  width: 100%;

  .project-container {
    @extend .shadow;
    @extend .round-edges;
    @extend .flex-column;
    // @extend .hoverable-card;
    background: var(--light-card);
    padding: 20px 30px;
    margin: 2%;
    width: 90%; 
    @include bp(tablet){
      width: 80%;    
     }
   @include bp(desktop){
    width: 50%;    
   }
   .project-screenshot-container{
     @extend .flex-column;
     align-self: center;
      width: 100%;
      position: relative;
      // .project-device-showing-screenshot{
      //   width: 96%;
      //   height: 250px;
      //   position: relative;
      //   @include bp(desktop){
      //     width: 70%;
      //     height: 400px;
      //     // max-width: 550px;  
      //   }
      // }
      .project-screenshot {
        @extend .round-edges;
        @extend .shadow;
        align-self: center;
        width: 85%;
        position: relative;
        margin: auto 7.5%;
        top: calc(5%);
        @include bp(desktop){
          width: 66%;
          margin: auto 17%;
          
        }
     }
    }
    
    .project-title {
      margin: 0px;
    }
    .project-description-container{
      p{
        margin: 12px 0px;
        color: var(--brown);
        .project-description-label{
          color: var(--primary-color);
          font-weight: 600;
        }
      }
     
    }
  }
}

.file-container {
  @extend .round-edges;
  @extend .flex-column;
  max-width: 250px;
  span {
    padding: 5px 0px;
   
  }

  .file-button {
    width: 70%;
    margin: 0px;
    padding: 2px 1px ;
    font-size: 0.8em;
    background-color: transparent;
    color: var(--brown);
    text-align: start;
    border: 0px;
    cursor: pointer;
    animation: fadeInDown 0.2s  cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
      &:hover {
        background-color: lightgray;
      }
      &:active {
        position: relative;
        top: 1px;
        background-color: grey;
      }
  }
  .file {
    // position: absolute;
    width: 100%;
  }

  .folder-closed {
    display: none;
  }
  .folder-opened {
    display: unset;
  }

  .internal-files {
    padding-left: 15px;
  }
 
}

/*######### modal  ################*/

.modal {
  @extend .round-edges;
  z-index: 100;
  position: absolute;
  width: 90%;
  left: 0;
  right: 0;
  // top: 0;
  bottom: 0;
  margin: auto;
  height: 450px;
  padding: 0px 10px;
  overflow: scroll; 
  word-wrap: unset;
  transition: all 0.5s ease-out;
  @include bp(desktop){
    width: 80%;
  }
  .code {
    margin: 20px;
  }
   span {
    padding: 10px 1px 10px 1px;
    opacity: 0.9;
  }
}


/* this turn an icon downwards */
.turn-downwards {
  transform: rotate(90deg);
}

.modal{
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  &::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border: 0px none #ffffff;
    @extend .round-edges;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--primary-color);
  }
  &::-webkit-scrollbar-thumb:active {
    background: var(--primary-color);
  }
  &::-webkit-scrollbar-track {
    background: #666666;
    border: 0px none #ffffff;
    @extend .round-edges;
  }
  &::-webkit-scrollbar-track:hover {
    background: #666666;
  }
  &::-webkit-scrollbar-track:active {
    background: #333333;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

}

.modal-closed {
  display: none;
}
.modal-opened {
  display: unset;
  animation: ZoomInBack 0.5s ease-in-out;
}
/* Animation */
@keyframes ZoomInBack {
  from {
      transform: scale(0.2);
  }
  to {
      transform: scale(1);
  }
}
@-webkit-keyframes ZoomInBack {
  from {
    transform: scale(0.2);
}
to {
    transform: scale(1);
}
}
.float-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.float-right h3 {
  margin: 8px;
}
/* The Close Button */
.close {
  margin: 0px 10px;
  position: sticky;
  top: -10px;
  left: calc(100% - 20px);
  float: right;
  font-size: 28px;
  &:hover,
  &:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
}

