@import '../Utilities.scss';

.followers-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  padding-bottom: 30px;
.followers-title {
  @extend .page-default-title;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 80%;
  height: 360px;
  padding: 15px 10%;
  @include bp(mid-phone) {
    height: 350px;
  }
  @include bp(desktop){
    min-width: 760px;
    max-width: 780px;
    height: 200px;
    text-align:start;
  }
  h1{
    color: var(--primary-color);
  }
}
}


.followers-card {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  @include bp(desktop){

  }
  .tab {
    cursor: pointer;
    padding: 10px 30px;
    margin: 0px 10px;
    background: var(--primary-color);
    display: inline-block;
    color: var(--light-card);
    border-radius: 5px 5px 0px 0px;
    @include bp(desktop){
        padding: 10px 60px;
      }
    }
    .followers-login-card {
      background: var(--light-card);
      padding: 50px;
    }
}

.panels {
  @extend .shadow;
  @extend .round-edges;
  background: var(--light-card);
  color: var(--primary-color);
  min-height: 350px;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}
.panel {
  display: none;
}
.panel-title {
  font-size: 1.3em;
  font-weight: bold;
}
.radio {
  display: none;
}

#one:checked ~ .panels #one-panel,
#two:checked ~ .panels #two-panel {
  display: block;
  animation: slideInRightx 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}
#one:checked ~ .tabs #one-tab,
#two:checked ~ .tabs #two-tab {
  background: var(--light-card);
  color: var(--primary-color);
  border-top: 3px solid var(--secondary-color);
}



.sign-form {
  display: flex;
  flex-direction: column;
  .o-auth-btns {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    .google-btn {
      @extend .hoverable-btn;
      grid-row: 1/2;
      background: #dd4b39;
        font-size: 1em;
    }
    .facebook-btn {
      @extend .hoverable-btn;
      grid-row: 2/3;
      background: #3b5998;
      font-size: 1em;
    }
    .or {
      grid-row: 3/4;
      justify-self: center;
    }
  }
  .submit-btn {
    @extend .hoverable-btn;
    grid-row: 2/3;
    margin: 10px;
    background: var(--primary-color);
    font-size: 1em;
  }
}

.password{
  position: relative;
}
.temperature-password-strength{
  margin: 0px 5px;
}
.eye{
  position: absolute;
  right: 5px;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-control {
  width: 100%;
  border: 0;
  border-bottom: 1.5px solid var(--primary-color);
  outline: 0;
  padding: 1px 0;
  background: transparent;
  color: var(--primary-color);
  margin-bottom: 25px;
  transition: 0.3s;
  &::placeholder {
    color: transparent;
  }
  &:placeholder-shown ~ .label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
  }
  &:focus ~ .label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    color: var(--secondary-color);
  }
  &:focus {
    padding-bottom: 4px;
    border-bottom: solid 1.5px var(--secondary-color);
  }
  /* reset input */
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.label:focus {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--secondary-color);
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: var(--secondary-color); }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

