.app {
  display: grid;
  grid-template-rows: .2fr 3.5fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
  width: 100%;
  height: 100vh;
  .header {
    grid-area: "header";
  }
  .main {
    grid-area: "main";
  }
  .footer {
    grid-area: "footer";
  }
  .page-main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .main-title {
    justify-self: center;
    margin: 20px 40px;
  }
}



