.app{
    display: grid;
    grid-template-rows:  1fr  3.5fr 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
        width: 100vw;
        height: 100vh;
}

.header{
    grid-area: "header";
    display: grid ;
    grid-template-rows: 0.8fr 0.1fr 0.1fr;
    grid-template-areas:
    "up"
    "mid"
    "down";
}

.header ul {
    grid-area: "down";
    
}
.header title {
    grid-area: "up";
    padding: 30px;
}
.main{
    grid-area: "main";
}
.page-main{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .main-title{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    text-transform: uppercase;
    letter-spacing: .8px;
    margin: 40px 40px;

}

.footer{
    grid-area: "footer";
}

@media screen and (min-width: 780px){
    .app{
        display: grid;
        grid-template-rows:  1.5fr  3.5fr 1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
            width: 100vw;
            height: 100vh;
    }
    
    .header{
        grid-area: "header";
        display: grid ;
        grid-template-rows: 1fr 0.4fr ;
        grid-template-areas:
        "up"
        "mid"
       
    }
    
    .header ul {
        grid-area: "down";
    }
    .header title {
        grid-area: "up";
    }

    .main{
        grid-area: "main";
    }

    .footer{
        grid-area: "footer";
    }
}