.mw-robot {
  width: 70px;
  padding-bottom: 2px;
}
.double-w {
  margin: 5px;
  font-family: "Lato", serif;
  font-size: 2.3em;
  animation: glow 4s infinite alternate;
  font-weight: 500;
}

.programming {
  padding: 0;
  margin: 5px;
  font-size: 1.2em;
  letter-spacing: 3.2px;
  font-weight: 400;
}
.title div {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}
.title {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding-top: 15px;
}

@media screen and (min-width: 780px) {
  .title {
    display: grid;
    grid-template-columns: 1.6fr 1.3fr 2fr;
  }
  .mw-robot {
    grid-column: 1/2;
    width: 132px;
    height: 125px;
    justify-content: end;
    margin-top: 20px;
  }
  .double-w {
    grid-column: 2/3;
    font-family: "Lato", serif;
    font-size: 2.9em;
    justify-self: end;
    align-self: center;
    font-weight: 500;
  }

  .programming {
    grid-column: 3/-1;
    font-size: 2em;
    justify-self: start;
    padding-left: 20px;
    letter-spacing: 3.5px;
    font-weight: 300;
  }
}
@keyframes glow {
  to {
    text-shadow: 0 0 8px var(--secondary-color);
  }
}
