.node-main{
    display: grid;
    grid-template-rows: .5fr 4fr;
    font-family: Lato;
}

.all-projects{
    grid-column: 2/3;
    justify-self: center;
}
.project-container{
    max-width: 70vw;
    margin-bottom: 40px;
    justify-self: center;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(35, 35, 61) 0%, #FBF7F4 100%);
    border-image-slice: 1;
    padding-left: 10px;
    font-size: .9em;
   
}
.project-title{
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgb(35, 35, 61) 0%, #FBF7F4 100%);
    border-image-slice: 1;
    font-weight: 100;
}
.project-screenshot{
    width: 80%;
    border-radius: 8px;
    margin: 10px; 
    transition: all;
    transition-delay: .1s;
    transition-duration: .3s;
}

 
.project-screenshot:active,
.project-screenshot:focus,
.project-screenshot:hover {
    transform:  translate3d(2px,-12px,-90px);
    filter: brightness(0.8);

}


.file-container{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
  
}
.file{
    position: relative;
}
.file-container span{
    padding: 5px;
}
.file-button{
    width: 70%;
    margin: 0px;
    padding: 2px 1px !important;
    font-size: .8em !important;
    background-color: transparent;
    text-align: start;
    border: 0px;
    cursor:pointer;
    animation: fadeInDown .1s alternate;
    transition: all 0.5s ease-out;
    
}
.file-button:hover{
    background-color: lightgray ;
}
.file-button:active {
	position:relative;
    top:1px;
    background-color:grey;
}

.folder-closed{
    display: none;
}
.folder-opened{
    display: unset;

}

.internal-files{
    padding-left: 15px;
    
}
/* this turn an icon downwards */
.turn-downwards{
    transform: rotate(90deg);
}

/*######### modal  ################*/

.modal {
    /* display: none; Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 100;
    left: calc(5vw/3);
    border-radius: 10px;
    justify-self: center;
    bottom: -225px;
    width: 70vw; 
    height: 450px; 
    overflow: scroll; /* Enable scroll if needed */
    padding: 0px;
    word-wrap: unset;
    border-radius: 10px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 5px 24px 2px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 3px 5px 24px 2px rgba(0,0,0,0);
    transition: all 0.5s ease-out;
  }
  
  .modal-closed{
    display: none;
    animation: zoomOut .5s ease-in-out;
}
.modal-opened{
    display: unset;
    animation: zoomIn .5s ease-in-out;
}
  
  /* The Close Button */
  .close {
      margin: 0px 10px;
    position: sticky;
    top: 0px;
    left: calc(100% - 20px);
    color: #aaa;
    float: right;
    font-size: 28px;
   
  }
  
  .close:hover,
  .close:focus {
    color:var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
  }
 
.modal code {
    margin: 20px;
}
.modal span{
    padding: 10px 1px 10px 1px;
    opacity: 0.9;
}



  .modal::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.modal::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.modal::-webkit-scrollbar-thumb {
  background:  var(--secondary-color);;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.modal::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}
.modal::-webkit-scrollbar-thumb:active {
  background: var(--primary-color);
}
.modal::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.modal::-webkit-scrollbar-track:hover {
  background: #666666;
}
.modal::-webkit-scrollbar-track:active {
  background: #333333;
}
.modal::-webkit-scrollbar-corner {
  background: transparent;
}
