.node-main{
    display: grid;
    grid-template-rows: .5fr 4fr;
    font-family: Lato;
}
.main-title{
    grid-row: 1/2;
    grid-column: 2/3;
    justify-self: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 400;
    letter-spacing: .8px;
    font-size: 2em;
   
}
.project-container{
    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 70vw;
    margin-bottom: 20px;
    justify-self: center;
    border: 3px solid;
    border-image: linear-gradient(to right, rgb(35, 35, 61) 0%, #FBF7F4 100%);
    border-image-slice: 1;
    padding-left: 10px;
    font-size: .9em;
}
.project-title{
    border-bottom: 3px solid;
    border-image: linear-gradient(to right, rgb(35, 35, 61) 0%, #FBF7F4 100%);
    border-image-slice: 1;
    font-weight: 100;
}
.project-screenshot{
    width: 80%;
    border-radius: 8px;
    margin: 10px;
    transition-delay: .1s;
    transition-duration: .2s;
}
.project-screenshot:hover{
    transform:  translate3d(-2px,-12px,-90px);
    transition-delay: .1s;
    transition-duration: .2s;
 }
 
.screenshot-container:active,
.screenshot-container:focus,
.screenshot-container:hover {
    filter: brightness(0.6);
    

}


.file-container{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    padding: 10px;
}
.file-container span{
    padding: 5px;
}
.file-button{
    width: 70%;
    margin: 0px;
    padding: 2px 1px !important;
    font-size: .8em !important;
    background-color: transparent;
    text-align: start;
    border: 0px;
    cursor:pointer;
    animation: slideInDown .1s alternate;
    
}
.file-button:hover{
    background-color: lightgray ;
}
.file-button:active {
	position:relative;
    top:1px;
    background-color:grey;
}

.folder-opened{
    
    display: none;
}

.internal-files{
    padding-left: 15px;
    
}
/* this turn an icon downwards */
.turn-downwards{
    transform: rotate(-90deg);
}