
.hero-area-wrapper {
  min-height: 600px; /*check if needed if not remove from media*/
  width: 92%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 3% 0px 4%;
  margin-top: 8px;
    }
  .elipsis-shape{
    width: 0;
    height:0;
    /* background-color: var(--primary-color); */
    clip-path: circle(76.3% at 24% 49%);
    position: absolute;
    right: 0px;
    /* top: 350px; */
  }
  #hero-title-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    flex-direction: column;
    width:95%;
    padding-top: 30px;
    position: relative;
    font-family: Lato, Arial, Helvetica, sans-serif;
  }
  #pragmatic-dedicated{
    font-size: 6vw;
    font-weight: 400;
    margin: 0;
  }
  #web-developer {
    margin: 0px;
    font-size: 11vw;
  }

  #introduction-paragraph{
    margin: 22px 0px;
    line-height: 1.5;
    text-align: start
  }
  #hear-more-btn{
    margin:0px;
    z-index: 99;
    width: 100%;
    border:0px;
    font-weight: 700; 
  }
   /* SHAPES */
   .main-shape-wrapper{
      padding-top: 40px;
      display: flex;
      align-content: center;
      justify-content: center;
      width: 100%;
    }


    .shapes{
      --shape-width: 30%;
      position: relative;
      left: 5px;
      
    }
    .shapes-lower-left, .shapes-upper-right{
      position: relative;
    }
    .security-shape{
      width: 80px;
      left: 0px;
      bottom: 180px;
     position: absolute;
      animation: headShake 3s linear .1s infinite;
  }
    .code-shape{
      width: 80px;
      height: 80px;
      top:230px;
      left: 0px;
     position: absolute;
     transform:rotateZ(-25deg) skew(34deg, 8deg) rotate(5deg);
    
    }
    .stacks{
      position: relative;
      top: 40px;
      display: flex;
    }

    .wm-img {
      background: 
      url("../../static/waldo.jpg") no-repeat center;
      background-position: cover;
      background-size: 140px;
      width: 135px;
      height: 100px;
      z-index: 4;
      position:  absolute;
      top: 5px;
      transform:translateX(50px) rotateZ(-25deg) skew(32deg, 4deg) rotate(-6deg);
      transition: all .5s ease;
    }
    .wm-img:hover, .wm-img:active {
      background-size: 280px;
      width: 280px;
      height: 260px;
      margin: auto;
      transform:rotateZ(0deg) skew(0deg, 0deg) rotate(0deg);
    }
    .wm-img::after {
      content: "Preparation, cooperation, leadership, consistancy, and dedication are exceptional keys to success.";
      color: var(--secondary-color);
      background: rgba(0, 0, 0, 0.774);
      border-radius: 2px;
      letter-spacing: 1.5px;
      font-size: 0.8em;
      font-weight: 300;
      position: absolute;
      opacity: 0;
      bottom: 0px;
      width: 92%;
      height: 0px;
      padding: 4%;
      transition: opacity .9s ease 0s,height .7s ease 0s, top 0.4s ease 0s;
    }
    .wm-img:hover::after {
      opacity: 1;
      bottom: 0px;
      height: 20%;
    }
    
  .stack-shape{
      width: 235px;
      z-index: 3;
      position: relative;
  }
.db-shape{
  width: 70px;
  bottom: 30px;
  left: -50px;
  z-index: 98;
  position: relative;
 animation: bounce 2.5s linear .8s infinite;
}

.server-shape{
  width: 80px;
  height: 90px;
  bottom: -126px;
  left: -45%;
  position: relative;
  transform:rotateZ(-45deg) skew(25deg, 2deg) rotate(-260deg);

}


#more-about-me-container{
  font-size: 1em;
  line-height: 1.5;
  width: 92%;
  padding: 80px 4% 0px 4%;
}
#more-about-me-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-about-me-card{
  padding: 4%;
  margin: 20px 0px;
  height: 240px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.attributes-shape{
  position: relative;
  z-index: 2;
}
.attributes-shape::after{
  content: "";
  background: var(--primary-color);
  width: 110px;
  height: 110px;
  bottom: 5px;
  right: -15px;
  border-radius: 50%;
  z-index: -1;
  position: absolute;
}
.fadeInUpx {
  opacity: 0;
  animation-name: fadeInUpx;
  -webkit-animation-name: fadeInUpx;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  opacity: 0
}


.description-in {
  animation: backInUp 1s alternate;
}

#my-work {
  background:  linear-gradient(#64b9ee, #015d9b,#1a3566 96.71%);
  width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.fish-animation{
  width: 100%;
  /* height: 40px; */
}
.my-work-btn-wide{
  padding: 8px 70px;
  margin: 40px 20px 20px 20px;
}
.my-work-btn {
  box-shadow: 4px 10px 14px -10px var(--primary-color);
  border-radius: 5px;
  border: 1px solid #fbf7f4;
  background: rgba(35, 35, 61, 0.164);
  display: inline-block;
  cursor: pointer;
  font-size: 0.7em;
  text-transform: uppercase;
  transition-delay: 0.1s;
  transition-duration: 0.6s;
}
.my-work-btn:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.1);
}
.my-work-btn:active {
  position: relative;
  top: 1px;
}

aside {
  transition-duration: 0.8s;
  padding: 0px;
}


#credentials {
  grid-column: 1/2;
  line-height: 1.5em;
  z-index: -1;
  font-size: 0.8em;
  /* background-color: var(--light-brown); */
  padding: 0px 41px 150x 10px;
  /* position: relative; */
}
.education-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.certificate {
  border-left: 3px solid;
  border-image: linear-gradient(to right, var(--brown) 0%, var(--light-blue) 100%);
  border-image-slice: 1;
  counter-increment: section;
  position: relative;
  color: var(--primary-color);
  left: 50%;
  width: 48%;
  
}
.certificate::before {
  content: counter(section);
  position: absolute;
  left:-12px;
  top: 35px;
  border-radius: 50%;
  padding: 5px;
  height: 1.25em;
  width: 1.25em;
  background-color: var(--brown);
  text-align: center;
  line-height: 1.25em;
  color: white;
  font-size: .8em;
}

.date-place{
  position: relative;
  right: 170px;
  max-width: 150px;
  display: flex;
  align-items: flex-end;
  justify-items: flex-end;
  flex-direction: column;
  padding: 30px 0px;
  
}
.diploma-btn{
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
}
.institution-description{
  position: relative;
  background-color: #fbf7f496;
  border-radius: 5px;
  padding: 30px 5px;
  right: 98%;
  width: 90vw;

}

.certificate h2,
h4,
h5,
p {
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 800px) {
  .hero-area-wrapper {
    min-height: 430px;
    width: 92%;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    padding: 0px 2% 0px 6%;
    margin-top: 0px;
      }
      .elipsis-shape{
        width: 68%;
        height:550px;
        background-color: var(--primary-color);
        clip-path: circle(55.5% at 61% 16%);
        position: absolute;
        right: 0px;
        
      }
      #hero-title-wrapper {
        align-items: stretch;
        justify-content: flex-end;
        width:35%;
        padding: 0px;
       }
  #pragmatic-dedicated{
    font-size: 2.1rem;
    margin: 0;
  }
  #web-developer {
    margin: 0px;
    align-self: flex-start;
    font-size: 3.5rem;
  }
   .main-shape-wrapper{
    padding-top: 0px;
      align-content: center;
      justify-content: center;
      width: 65%;
    }
    .security-shape{
      width: 130px;
      left: calc(var(--shape-width) - 105px);
      bottom: 128px;
      }
      .code-shape{
        width: 140px;
        height: 134px;
        top:318px;
        left: calc(var(--shape-width) - 90px);
            
      }
      .stacks{
        position: relative;
        top: 80px;
      }
      .wm-img {
        background-size: 214px;
        width: 214px;
        height: 160px;
        transform:rotateZ(-25deg) skew(32deg, 4deg) rotate(-8deg);
        left: 65px;
      }
      .stack-shape{
        width: 350px;
     }
     .db-shape{
      width: 90px;
      bottom: 270px;
      left: -15px;
      position: absolute;
    }
    .server-shape{
      width: 96px;
      height: 100px;
      bottom: 4px;
      left: -35px;
      position: absolute;
    }
    #more-about-me-container{
      font-size: 1.1em;
      line-height: 1.5;
      width: 90%;
      padding: 140px 5% 0px 5%;
      /* background: var(--light-brown); */
    }
    #more-about-me-wrapper{
      display: flex;
      flex-direction: row;
    }
    #more-about-me-card{
      width:28%;
     

    }
    #synthesis {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6%;
      justify-content: center;
      margin: 1px 35px;
      
    }
    #description {
      min-height: 300px;
    }
    .my-work-btn {
      padding: 10px 85px;
      font-size: 0.8em;
    }

    #credentials {
      font-size: 1.1em;
      line-height: 1.5em;
      grid-column: 1/2;
      z-index: -1;
      padding: 40px 100px 150px 200px;
    }
    .education-title{
      display: flex;
      flex-direction: row;
      
    }
    .certificate::before {
      content: counter(section);
      position: absolute;
      left:-16px;
      top: 10px;
      border-radius: 50%;
      padding: 5px;
    
    }
    .certificate {
      left: 0;
      width: 100%;
      padding: 2px 5px;
      
    }
  .date-place{
    position: relative;
    right: 180px;
    top: -10px;
    max-width: 150px;
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    flex-direction: column;
    margin: 6px 0px;
    padding: 0px;
  }
  .institution-description{
    font-size: 0.8em;
    padding: 15px;
    border-radius: 5px;
    margin-left: 10px;
    right: 0%;
    width: 100%;
  }
  .certificate 
  h4,
  p {
    margin: 2px 0px;
    padding: 0px;
  }
}

@keyframes slideSlow {
  0% {
    -ms-transform: translate(206px, -19px);
  }
  100% {
    -ms-transform: translate(206px, -19px);
  }
}

/* Animation */

@keyframes fadeInUpx {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUpx {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}


