.footer div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 15px;
}

.social{
    margin: 15px;
}
.footer-credits{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   

@media screen and (min-width: 780px){
    .footer-credits{
        display: flex;
        flex-direction: column;
    }
    
}