.footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 15px;
}
.social {
  margin: 15px;
}
.social-link{
 color: var(--light);
}
.footer-credits {
  display: flex;
  flex-direction: column;
}

