@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");


:root {
  --primary-color: rgb(11,34,57);
  --secondary-color: rgb(251, 211, 3);
  --light:   rgb(240,242,245);
  --education-card-color: #fafafa85;
  --light-card: #fcfcfc;
  --light-brown: rgb(225,193,164);
  --brown: rgb(117, 73, 26);
  --light-blue: rgb(116, 198, 248);
  --text-shadow: 0px 1px 2px var(--primary-color);
    .dark{
      --primary-color: rgb(240,242,245);
      --secondary-color: rgb(251, 211, 3);
      --light:   rgb(11,34,57);
      --education-card-color: #74747485;
      --light-card: rgb(5, 15, 26);
      --light-brown: rgb(117, 73, 26);
      --brown: rgb(225,193,164);
      --light-blue: rgb(116, 198, 248);
      --text-shadow: 0px 1px 2px var(--primary-color);
  }
}


body {
  padding: 0px;
  margin: 0px;
  font-family: Lato, Arial, Helvetica, sans-serif;

  .primary {
    background-color: var(--primary-color);
    color: var(--light-card);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .secondary--text {
    color: var(--secondary-color);
  }
  .primary--text {
    color: var(--primary-color);
  }
  .light--text {
    color: var(--light);
  }
  .brown {
    background-color: var(--brown);
    color: var(--light);
  }

  .light {
    background-color: var(--light);
  }
  .neom {
    box-shadow: 12px 12px 24px 0 rgba(0, 0, 0, 0.2),
      -12px -12px 18px 0 var(--light);
      
  }
  .bold {
    font-weight: 700;
  }
  .flex-row-wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .flex-column{
    display: flex;
    flex-direction: column;
  }
.flex-row-justified-aligned-c{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}

}