@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', serif;
}

.primary{
  background-color:rgb(35, 35, 61) ;
  color: white;

}
.secondary{
  background-color: rgb(251, 211, 3) ;
}
.secondary--text{
  color: rgb(251, 211, 3) ;
}

.light{
  background-color: #FBF7F4;

}

.fab-btn{
  border-radius: 30px;

}

.shadow{
  box-shadow: 0px 10px 14px -7px rgba(0, 0, 0, 0.726) ;
}