
.btn,
.nav-item-with-children {
  background: linear-gradient(
    to bottom,
    rgb(35, 35, 61) 5%,
    rgb(35, 35, 61) 100%
  );
  border: 0px;
  display: inline-block;
  cursor: pointer;
  color: var(--light);
  /* font-family: Lato, Arial; */
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}
.btn:hover,
.btn:active {
  text-shadow: var(--text-shadow);
  transform: scale(1.1);
  transition: all .1s linear;
  font-weight: 500;
  color: var(--secondary-color);
}
.btn:active {
  position: relative;
  top: 1px;
}
.active:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  display: block;
  height: 1.5px;
  position: relative;
  background: var(--secondary-color);
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 100%;
  left: 0;
}
.setting-btn{
  padding: 15px 32px;
  font-size: 1em;
  display: inline-block;
  width: 100%;
}
/* .fab-btn {
  position: relative;
  grid-column: 2/3;
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  color: var(--light);
  font-size: 1em;
  font-weight: lighter;
  cursor: pointer;
  margin: 10px 10px 10px 0px;
} */

.sticky {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 101;
  animation: slideInDown 0.4s ease-in-out;
  grid-area: "header";
}

.sticky .navItems-container {
  position: absolute;
  top: -1px;
}
.stuck {
  animation: slideInUp 0.4s ease-in-out;
}

.navItems {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;
}
.navItems-outer-wrapper {
  position: relative;
}
.navItems-container {
  position: absolute;
  float: left;
  right: 0px;
  z-index: 102;
  height: 100vh;
  animation: slideInRight 0.1s ease-in-out;
}
.drop-icon {
  padding: 0px;
  margin: 0px 5px 0px;
}

.nav-item-with-children:hover > span > .rotate,
.nav-item-with-children:active > span > .rotate {
  transform: rotate(90deg);
}
.inner-nav-item {
  display: none;
}
.nav-item-with-children:active > .closable,
.nav-item-with-children:hover > .closable {
  display: flex;
}

.inner-nav-item {
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: flex-start;
  margin: 0px;
  position: relative;
  right: 10px;
  animation: fadeIn 0.1s ease-in-out;
}

.spacious {
  padding: 15px 32px;
  width: 100%;
}

.span-with-children {
  margin: 15px 32px;
}

.nav-item-with-children {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex-wrap: nowrap;
}
.block {
  display: inline-block;
  width: 100%;
}
.mid {
  grid-area: "mid";
  float: right;
}
.display-none {
  display: none;
}
.small-w-programming-img {
  width: 30px;
  margin: 5px 25px 5px;
}
/* new sandwich button */
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 28px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  /* box-shadow: 0 2px 5px rgba(255,101,47,.2); */
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
@media screen and (min-width: 780px) {
  .navItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0%;
    right: 0px;
  }

  .navItems-outer-wrapper {
    position: unset;
    
  }
  .navItems-container {
    position: unset;
    right: 0px;
    max-height: 0px;
  }

  .sticky .navItems {
    position: relative;
  }
  
  .spacious {
    padding: 15px 22px;
  }

  .inner-nav-item {
    display: none;
    position: absolute;
    z-index: 99;
    width: 100%;
  }
  .span-with-children {
    margin: 14px 22px;
  }
  .nav-item-with-children {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .nav-item-with-children:hover > span > .drop-icon,
  .nav-item-with-children:active > span > .drop-icon {
    transform: rotate(90deg);
  }
  .nav-item-with-children:active > .inner-nav-item,
  .nav-item-with-children:hover > .inner-nav-item {
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
    position: relative;
    right: 0;
    top: 0;
  }
  .block {
    display: inline-block;
    width: 100%;
  }

  .menu-btn {
    display: none;
  }
  .setting-btn{
    padding: 14px 18px 10px 10px;
    font-size: 1em;
  }
}
