
.btn {
	box-shadow: 0px 10px 14px -10px rgba(35, 35, 61, 0.473) ;
	background:linear-gradient(to bottom, rgb(35, 35, 61)  5%, rgb(35, 35, 61)  100%);
	background-color:rgba(42, 50, 75, 0.719);
  border: 1px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
  text-decoration:none;
  text-transform: uppercase;
  text-shadow:0px 2px 19px rgb(35, 35, 61)  5%;
}
.btn:hover, .btn:active {
	background:linear-gradient(to bottom, var(--secondary-color) 5%, var(--secondary-color) 100%);
  background-color:var(--secondary-color) 5%;
  box-shadow: 0px 8px 14px -7px var(--secondary-color);
  text-shadow:0px 1px 2px var(--primary-color);
  animation: fadeIn .2s normal;
  transition: .2s;
}
.btn:active {
	position:relative;
	top:1px;
}
.fab-btn{
  border-radius: 50px;
  margin-right: 30px;
  position: relative;
}
.sticky .fab-btn{
  margin-right: 10px;
}

.sticky {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 101;
  animation: slideInDown 0.4s ease-in-out;
  grid-area: "header";
}

.sticky .navItems{
  position: absolute;
  top: 35px;
}
.stuck {
  animation: slideInUp 0.3s ease-in-out;
}


.navItems{
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  right: -10px;
  margin:0px;
  z-index: 100;
  animation: slideInRight 0.1s ease-in-out;
}
.drop-icon{
  padding: 0px;
  margin: 0px 5px 0px
}
.nav-item-with-children:hover> span >.drop-icon,
.nav-item-with-children:active> span >.drop-icon{
  transform: rotate(90deg);
}
.inner-nav-item{
  display: none;
}
.nav-item-with-children:active>.inner-nav-item, 
.nav-item-with-children:hover>.inner-nav-item{
  display: flex;
}
.inner-nav-item{
  -webkit-flex-direction: column; 
  flex-direction: column; 
  flex-wrap: nowrap;
  padding: 0;
  position: absolute;
  z-index: 99;
  right: 170px;
  animation: fadeInUp 0.1s ease-in-out;
  }

.spacious{
padding:15px 32px;
width: 100%;
} 
.nav-item-with-children span{
margin:15px 32px;
} 
.nav-item-with-children{
display: flex;
-webkit-flex-direction: column; 
flex-direction: column; 
flex-wrap: nowrap;
}
.block{
display: inline-block;
width: 100%;
}
.mid{
  grid-area: 'mid';
  display: flex;
  justify-content: flex-end;
  padding: 10px 0px;
}
.mid button {
  background-color: rgba(0, 0, 0, 0);
  border: rgba(0, 0, 0, 0);
  color: white;
  padding: 0px 25px;
  position: relative;
  bottom: -5px;
  left: 20px;

}
  
  @media screen and (min-width: 780px){
 
    .sticky .navItems{
      position: absolute;
      top: -.8px;
      width: 100%;
    }
    .sticky .mid{
      box-shadow: 0px 10px 14px -10px rgba(0, 0, 0, 0.632) ;
      padding: 22px;
    }
    .stuck {

      animation: fadeIn 0.9s ease-in-out;
    }
    
.navItems{
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-content: flex-start;
      position: absolute;
      top: 182px;
      right: 1px;
  }

.spacious{
  padding:15px 32px;
} 

.inner-nav-item{
  display: none;
}
.nav-item-with-children span{
  margin:14px 32px;
} 
.nav-item-with-children{
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  flex-wrap: nowrap;
}
.nav-item-with-children:active>.inner-nav-item, 
.nav-item-with-children:hover>.inner-nav-item{
  display: flex;
  -webkit-flex-direction: column; 
  flex-direction: column; 
  flex-wrap: nowrap;
  padding: 0;
  position: relative;
  right: 0;
  top: 0;
}
.block{
 display: inline-block;
 width: 100%;
}

.mid button {
  display: none;
  
}

}