@import '../Utilities.scss';


.avatar-wrapper{
  @extend .btn;
  padding: 0px 32px;
  @include bp(desktop) {
    padding: 0px;
  }
}
.setting-btn{
  @extend .btn;
  padding: 15px 32px;
  font-size: 1em;
  display: inline-block;
  width: 100%;
  @include bp(desktop) {
    padding: 14px 18px 10px 10px;
    font-size: 1em;
  }
}
.display-none{
  display: none;
}
.active-route:after {
  content: "";
  display: block;
  height: 1.5px;
  position: relative;
  background: var(--secondary-color);
  transition: width 0.4s ease 0s, left 0.4s ease 0s;
  width: 100%;
  left: 0;
  top:-2px;
}

.sticky {
  position: fixed;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
  z-index: 101;
  grid-area: "header";
}

.nav-items-main-wrapper {
  position: relative;
  @include bp(desktop) {
    position: unset;
  }
  .nav-items-container {
    position: absolute;
    float: left;
    right: 0;
    z-index: 102;
    height: 95vh;
    width:65%;
    animation: slideInRightx 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
    @include bp(mid-phone) {
      width: 45%;
    }
    @include bp(tablet) {
      width: 220px;
    }
    @include bp(desktop) {
      position: unset;
      max-height: 0px;
      animation: fadeInDown;
    }
      .nav-items-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        @include bp(desktop) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
          align-content: flex-start;
          position: absolute;
          margin: 0px;
          padding: 0px;
          top: -1px;
          right: 0px;
        }
    }
  }
}


.nav-item-with-children {
    @extend .btn;
    display: flex;
    font-family:  Arial, Helvetica, sans-serif;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex-wrap: nowrap;
    &:hover > span > .rotate,
    &:active > span > .rotate {
    transform: rotate(90deg);
    }
    &:active > .closable,
    &:hover > .closable {
      display: flex;
    }
    @include bp(desktop) {
      position: relative;
      z-index: 101;
        &:hover > span > .drop-icon,
        &:active > span > .drop-icon {
          transform: rotate(90deg);
        }
        &:active > .inner-nav-item-list,
        &:hover > .inner-nav-item-list {
          display: flex;
          -webkit-flex-direction: column;
          flex-direction: column;
          flex-wrap: nowrap;
          padding: 0;
          position: relative;
          right: 0;
          top: 0;
        }
    }
    .nav-item-with-children-span {
      margin: 14.5px 32px;
      @include bp(desktop) {
        margin: 14.5px 22px;
      }
    }
  .inner-nav-item-list {
    display: none;
    -webkit-flex-direction: column;
    flex-direction: column;
    justify-items: flex-start;
    flex-wrap: nowrap;
    margin: 0px;
    padding: 0px;
    position: relative;
    right: 0px;
    animation: fadeInDown 0.2s ease-in-out;
    @include bp(desktop) {
      position: relative;
    }
  }
}

.drop-icon {
  padding: 0px;
  margin: 0px 5px 0px;
}
.spacious {
  padding: 15px 32px;
  // width: 100%;
  @include bp(desktop) {
    padding: 15px 22px;
  }
}

.mid {
  grid-area: "mid";
  float: right;
}

.small-w-programming-img {
  width: 30px;
  margin: 5px 25px 5px;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 40px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  @include bp(desktop) {
    display: none;
  }
  .menu-btn__burger {
    width: 28px;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transition: all .5s ease-in-out;
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 28px;
        height: 2px;
        background: #fff;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }
      &::before {
        transform: translateY(-8px);
      }
      &::after {
        transform: translateY(8px);
      }
  }
      /* ANIMATION */
    &.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
    &.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
}

@-webkit-keyframes slideInRightx {
    from {
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -o-transform: translateX(50px);
        transform: translateX(50px);
    }
    to {
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}

@keyframes slideInRightx {
  from {
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    transform: translateX(50px);
}
to {
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
}
}