.contact-title{
    display: flex;
    align-items: center;
    justify-items: center;
}
.contact-title h1{
    margin-left: 10px;
}

.contact-card-titles {
 margin:0px;
 padding:0px;
}

.small-icon{
    margin: 0px 5px ;
}
.contact-info-card{
    height: 100%;
    
}
.contact-info p{
    padding: 10px;
}
