@import '../Utilities.scss';

.contact-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2% 96% 2%;
  margin-top: 10px;
  padding-bottom: 80px;
  .contact-title{
    @extend .page-default-title;
  }
  .contact-card {
    @extend .shadow;
    @extend .round-edges;
    @extend .card-container;
    @extend .hoverable-card;
    color: var(--primary-color);
    background: var(--light-card);
    width: 90%;
    margin: 20px 5% auto;
    height: 750px;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 0fr 1fr 2fr 0.1fr;
    justify-content: start;
    align-items: stretch;
    @include bp(desktop) {
      width: 80%;
      margin: 20px 8% auto;
      height: 420px;
      grid-template-columns: 0fr 1.6fr 2fr 0.1fr;
      grid-template-rows: 1fr;
    }
    .contact-info-card {
      @extend .round-edges;
      background:  linear-gradient(rgb(116, 198, 248), rgb(28, 77, 126),rgba(11, 34, 57, 0.89) 70.71%);
      padding: 10px;
      grid-row: 1/2;
      @include bp(desktop){
        grid-column: 2/3;
        grid-row: 1/3;
      }
       .waldo-milanes {
        margin: 30px 10px;
        font-size: 3em;
      }
      .anchor {
        text-decoration: none;
        color: var(--light-card);
        font-size: 1.1em;
      }
      p {
        @extend .hover-underline-yellow;
        padding: 5px;
      }
      .contact-card-icon{
        margin: 0px 10px;
        font-size: 1.2em;
      }
    }
    .contact-me-form {
      grid-row: 2/3;
      padding: 20px;
      font-size: 1em;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-items: center;
     
      .response-area{
        position: relative;
        // top:50%;
        // bottom: 0;
        @include bp(desktop){
          position: absolute;
          margin-bottom: -10px;
        }
      }
      .contact-submit-btn{
        @extend .hoverable-btn;
        background: var(--primary-color);
        // color: var(--primary-color);
        // font-weight: 700;
        font-size: 1em;
      }
      @include bp(desktop){
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
  }
}

